{% extends 'main.html' %}

{% block invoice_number %} Confirm {% endblock %}

{% block strona %}
    <div class="card" style="width: 32rem;">
      <div class="card-body">
          <h5 class="card-title">Czy napewno chcesz usunac "{{ invoice.invoice_number }}" film?</h5>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usun film</button>
        </form>
      </div>
    </div>

    <a href="{% url 'all_invoices' %}">Cofnij</a>
{% endblock %}