{% extends 'main.html' %}

{% block title %} List of invoices {% endblock %}

{% block page %}
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>

    <a href="{% url 'new_invoice' %}">new invoice </a>

    {% if invoices|length == 0 %}
        <h2>No invoices</h2>
    {% else %}
        <h2> Number of invoices in DB: {{ invoices|length }}</h2>

        {% for invoice in invoices %}
            <h3>{{ invoice }}</h3>
            <p>{{ contractor_tax_number}}</p>

            <a href="{% url 'edit_invoice' invoice.invoice_number%}">Edit</a>
            <a href="{% url 'delete_invoice' invoice.invoice_number%}">Delete</a>
        {% endfor %}
    {% endif %}
{% endblock %}