{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block page %} {% endblock %}
</body>
</html>

<!--&lt;!&ndash;{% load rest_framework  %}&ndash;&gt;-->
<!--{% load my_static}-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <script src="https://kit.fontawesome.com/fc894043df.js" crossorigin="anonymous"></script>-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% static 'new.css' %}">&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="{% rest_framework 'main.css' %}">&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" media="screen" href="{% my_static  'styles/main.css'%}">-->
<!--    <title>{% block invoice_number %} {% endblock %}</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% block page %} {% endblock %}-->
<!--</body>-->
<!--</html>-->